body {
    margin: 0px;
    
}
.container {
    margin-bottom: 100px;
}
.background-color {
    background-color: #eaf1ee;
}
h1 {
    font-weight: bold;
    font-size: 50px;
}
p {
    font-weight: normal;
}
.green-text {
    color: #21B573;
}
.green-button {
    background-color: #21B573;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 12px 28px;
    cursor: pointer;

}
.illustraion-img img{
    width: 100%;
    margin-bottom: 50px ;
}
.box-topis {
    
    background-color:  #eaf1ee ;
    border: 10px solid white;
    
    padding: 40px;
    
}
.student-box {
    border: none;
    box-shadow: 7px 7px 10px rgb(192, 183, 183);
    background-color: white;
}

h4 {
    margin-top: 10px;
}
.calendar-people-logo {
    width: 23px;

}
.card {
    padding: 15px;
    border: none;
    box-shadow: 8px 8px 10px lightgray;
    border-radius: 30px;
}
.card-footer {
    border-top: none;
    background-color: white;
}
h2 {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}
.man-image img{
    width: 100px;
}
.footer-bg {
    
    background-color: rgb(43, 41, 41);
    color: white;
    height: 100%;
}
.footer-items {
    
    padding: 50px 0px;
}
.footer-text {
    
    padding: 10px;
    margin-left: 40px ;
}
.white-button {
    background-color: rgb(255, 255, 255);
    border-style: none;
    color: rgb(0, 0, 0);
    border: 3px solid rgb(43, 41, 41);
    padding: 8px 20px ;
    border-radius: 10px;
}
footer {
    text-align: center;
}



